<lib-toastify-toast-container [autoClose]="3000">
</lib-toastify-toast-container>

<div class="container text-start mt-5">
  <h1 class="display-4">Personal lists of recipes</h1>

  <form class="card border-0 shadow mt-4" style="background-color: #6a598d;">
  <!-- <form class="card border-0 shadow"> -->
    <div class="card-body form-group text-start">
      <input id="listForm" class="form-control border-0 mb-2" type="text" placeholder="Name your recipe list" required/>

      <button (click)="createList()" class="btn btn-info me-2" formtarget="_blank">
        Create List
      </button>

    </div>
  </form>

  <label class="mb-2 mt-4 font-bold ">Your saved lists</label>
  
  <div class="list-items bg-info p-3 mb-1 d-flex flex-row align-items-center justify-content-between rounded " *ngFor="let list of lists">
    <a [routerLink]="['/list-detail/', list.id]" class="link-light text-decoration-none"><span><h5><i class="fa fa-list"></i> {{ list.title }} </h5></span></a>
    <button (click)="deleteList(list.id)" class="btn btn-danger"
      >Delete List</button
    >
  </div>

</div>
