<div class="container text-start mt-5">
  <h1 class="display-4">Saved lists of recipes</h1>

  <form>
    <div class="form-group text-start">
      <label>Create your recipe list</label>
      <input id="listForm" class="form-control mb-2" type="text" required/>

      <button (click)="createList()" class="btn btn-info me-2 mb-5" formtarget="_blank">
        Create New List
      </button>

    </div>
  </form>

  <label class="mb-2">Your saved lists</label>
  <div class="list-items d-flex flex-row align-items-center" *ngFor="let list of lists">
    <button (click)="deleteList(list.id)" class="btn btn-danger mb-2 me-2"
      >Delete List</button
    >
    <span><h5><a [routerLink]="['/list-detail/', list.id]" class="link-secondary text-decoration-none">{{ list.title }} </a></h5></span>
  </div>

</div>
