<div class="container text-center mt-5">

<a [routerLink]="['/recipe']" class="float-start">
  <h2 id="back-title-recipe">
    <i class="fa fa-arrow-left" style="color: black"></i>
  </h2>
</a>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card border-0 shadow">
        <img src="{{ recipe.image }}" alt="The prepared meal" />
        <div class="card-body p-1-9 p-xl-5">
          <div class="mb-4">
            <h3 class="h4 mb-0">{{ recipe.title }}</h3>
          </div>
          <ul class="list-unstyled mb-4">
            <div class="d-flex flex-direction-row justify-content-around">
              <li class="mb-3">
                <i class="fas fa-utensils fa-1x"></i> &zwnj;
                {{ recipe.dishTypes }}
              </li>
              <li class="mb-3">
                <i class="fas fa-clock fa-1x"></i> &zwnj;
                <strong>{{ recipe.readyInMinutes }} </strong> min
              </li>
            </div>
            
            <div class="rounded pt-3 pb-3 text-warning" style="background-color: #6f42c1;">
              <h6 class="mt-1"><strong>Add to list</strong></h6>
              <div class="dropdown" data-bs-toggle="dropdown">
                <button
                  class="btn btn-info w-100 mt-3 dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="dropdown-menu">
                </button>
                  <div
                    aria-labelledby="dropdownMenuButton"
                    *ngFor="let list of lists">
                    <a class="dropdown-item" (click)="addRecipeToList( recipe.title, recipe.image, recipe.id, list.id)" style="cursor: pointer;">{{list.title}}</a>
                  </div>
              </div>
              </div>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-1-6 ps-xl-5">
        <div class="mb-2 col-sm-8 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="display-4 text-secondary">Ingredients</h2>
          </div>
          <p class="text-start">List of ingredients</p>
          <div
            class="text-start"
            *ngFor="let extendedIngredient of extendedIngredients"
          >
            <ul class="mb-0">
              <li>
                <small>{{ extendedIngredient.original }}</small>
              </li>
            </ul>
          </div>
          <br />
        </div>
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="display-4 text-secondary mb-5">Recipe</h2>
            <div *ngFor="let step of steps">
              <p>
                <strong>{{ step.number }}.</strong> {{ step.step }}
              </p>
            </div>
          </div>
          <div class="row mt-n4">
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="fas fa-balance-scale mb-4 fa-3x text-secondary"></i>
                  <h3 class="h5 mb-3 text-secondary">Servings</h3>
                  <p class="h3 mb-0 text-secondary">{{ recipe.servings }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="fas fa-clipboard-list mb-4 fa-3x text-secondary"></i>
                  <h3 class="h5 mb-3 text-secondary">Diets</h3>
                  <p class="h3 mb-0 text-secondary">{{ recipe.diets }}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="fas fa-dollar-sign mb-4 fa-3x text-secondary"></i>
                  <h3 class="h5 mb-3 text-secondary">Price per serving</h3>
                  <p class="h3 mb-0 text-secondary">{{ recipe.pricePerServing }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>