<div class="container text-center mt-5">

  <a [routerLink]="['/list']" class="float-start">
      <h2 id="back-title-recipe">
      <i class="fa fa-arrow-left" style="color: black"></i>
    </h2>
  </a>

  <h1 *ngFor="let list of lists"> {{ list.title }}</h1>

  <table class="table table-bordered text-start mt-5">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th width="200px">Action</th>
      </tr>
      <tr *ngFor="let recipe of recipes">
        
        <td><img src="{{ recipe.image }}" class="img-thumbnail rounded float-start" style="max-height: 200px;"/></td>
        <td>{{ recipe.recipe }}</td>
        <td>
          <div>
          <a href="#" [routerLink]="['/recipe-detail/', recipe.recipe_id]" class="btn btn-info me-1">View</a>
        <button type="button" (click)="deleteRecipe(recipe.id)" class="btn btn-danger">Delete</button>
          </div>  
        </td>
      </tr>
    </table>
    <span *ngFor="let list of lists"> {{ list.title.length <= 0 ? 'HEJ' : 'Inget sparat recept!'}} </span>
    <!-- <div *ng-if="recipe.recipe_id > 0"> Inget sparat recept!</div> -->

</div>